.Quiz {
    @include container;

    .statusBar {
        padding: 0 5px 5px;
        margin-bottom: 25px;
        border-bottom: 3px solid white;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
    
            .pulse {
                margin: 0 10px;
                display: inline;
                animation: pulse linear 1s 1;
            }
        }
    }

    .question-container {

        .code {
            padding: 5px;
            margin: 10px 0;
            background-color: rgba(255, 255, 255, 0.4);
            color: black;
            font-size: 15px;
            border-radius: 10px;
        }

    }

    .options-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .option {
            height: 100%;
            padding: 5px;
            margin: 5px 0;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 10px;
            font-weight: 600;

            &:hover {
                background-color: rgba(255, 255, 255, 0.6);
            }
            
            
            input {
                margin-right: 10px;
                // opacity: 0;
                cursor: pointer;
            }
        }

        .checked {
            background-color: rgba(255, 255, 255, 0.6);
        }

        button {
            align-self: center;
        }
        // margin-bottom: 25px;
    }
    
    .Score {

        h2 {
            text-align: center;
            margin-bottom: 25px;
        }
    }
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}