body {
    display: flex;
}

div {
    display: flex;
}

.pulse {
    display: inline;
    animation: pulse linear 1s 1;
}

@keyframes pulse {
    0% {transform: scaleY(1);}
    50% {transform: scaleY(1.5);}
    100% {transform: scaleY(1);}
}